<div class="qw-form-container">
  <%= form_for question do |f| %>

    <div class="form-group qw-form-input">
      <%= f.label :title, "Question", class: 'label' %>
      <%= f.text_field :title, class: "form-control custom-border-input", placeholder: "Ask your question..." %>
    </div>

    <div class="form-group qw-form-input">
      <%= f.label :description, class: 'label' %>
      <%= f.text_area :description, rows: 5, placeholder: "Add your Description...", class: "form-control custom-border-input"%>
    </div>
 
    <br/> 

    <%= hidden_field_tag 'group', path_value(@group, params[:group]) %>
    <%= hidden_field_tag 'category', path_value(@category, params[:category]) %>
    <%= hidden_field_tag 'gategory', path_value(@gategory, params[:gategory]) %>
    
    <%= render 'categories/categories_checkboxes', f: f %>
    <br/>
    <%= render 'gategories/gategories_checkboxes', f: f %>

    <div class="bottom-nav">
      <%= f.submit "Ask", class: 'btn btn-primary custom-blue' %>
    </div>
  <% end %>
</div>


