<div class="question-container">
  <%= render 'votes/votes', path: vote_question_path(question), object: question %>

  <div class="question-content">
      <p><%= link_to question.title, question_path(question) %></p>
    <div  class='question-info'>
      <%= render 'shared/post_info', object: question %> 
      <span class="pull-badges-right">
        <%= render 'categories/category_badge', object: question, tab: nil %>
        <%= render 'gategories/gategory_badge', object: question, tab: nil %>        
      </span>

   </div>
      

  </div>

</div>








