<div class="body-center">
  <div class="fullpage">
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-9965889724685947"
       data-ad-slot="6278336819"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  </div>


<div class="login-container">
  <h2 class="login">Sign into you account</h2>
    <%= form_tag sessions_path do %>
      <div class="form-group">
        <%= text_field_tag :username, nil,  class: "form-control", placeholder: "Username", autofocus: true %>
      </div>
      <div class="form-group">
        <%= password_field_tag :password, nil, placeholder: "Password" ,class: "form-control" %>
      </div>
      <%= submit_tag "Sign in" %>
    <% end %>
<%= link_to "Create Account", register_path, class: "register-button" %>
   
</div>


 
