<div class="custom-create-bg">
  <div class="create-gategory-container">
  <%= render 'shared/errors', object: @gategory %>
  <h2><%= upcase_first(@parent.name) %></h2>
    <%= form_for [@group, @gategory] do |f| %>

      <div class="form-group">
        <%= f.text_field :name, class: "form-control", placeholder: "Category" %>
      </div>

      <% if @parent.class.to_s == "Category" %>
        <%= f.hidden_field :master_id, value: @parent.id %>
      <% else %>
        <%= f.hidden_field :gmaster_id, value: @parent.id %>
      <% end %>

      <%= f.submit "Create custom category" %>
    <% end %>
  </div>      
</div>

