<div class="body-center">

  <div class="form-content-container">
    <%= render 'groups/group_nav' %>
    <div class="custom-create-bg">
      <div class="create-gategory-container">
      <%= render 'shared/errors', object: @gategory %>
      <h2><%= @parent.name %> custom category</h2>
        <%= form_for [@group, @gategory] do |f| %>

          <div class="form-group">
            <%= f.text_field :name, class: "form-control", placeholder: "Category" %>
          </div>

          <% if @parent.class.to_s == "Category" %>
            <%= f.hidden_field :master_id, value: @parent.id %>
          <% else %>
            <%= f.hidden_field :gmaster_id, value: @parent.id %>
          <% end %>

          <%= f.submit "Create custom category" %>
        <% end %>
      </div>      
    </div>
  </div>

  <div class="right-content-container">
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9965889724685947"
         data-ad-slot="6278336819"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>


