<div class="group-nav-container">
  <div class="group-name-small">
    <div class="school-name"><%= link_to @group.school, group_path(@group) %></div>
  </div>

  <ul class="group-category-nav">
      <%= link_to "English", group_category_path(@group, 35, tab: params[:tab]) %>
      <%= link_to "Math", group_category_path(@group, 1, tab: params[:tab]) %>
      <%= link_to "Science", group_category_path(@group, 9, tab: params[:tab]) %>
      <%= link_to "Social Studies", group_category_path(@group, 15, tab: params[:tab]) %>
      <%= link_to "Languages", group_category_path(@group, 21, tab: params[:tab]) %>
      <%= link_to "Health", group_category_path(@group, 41, tab: params[:tab]) %>
  </ul>   
</div>    
