
<div class="body-center">

  <div class="left-content-container">
    <p>Custom Categories
      <button type="button" class="custom-info" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Custom categories are categories created by members of school, always labeled (custom categories)">
        <i class="fa fa-question-circle"></i>
      </button>
    </p> 

    <h4><%= @category.name %></h4>
    <ul class="gategory-links">
      <% @gategories.each do |gategory| %>
        <%= link_to upcase_first(gategory.name), group_gategory_path(@group, gategory) %>
      <% end %>      
      <br/>
      <% if logged_in? && member?(@group.id) %>
        <%= link_to new_group_gategory_path(@group) + "?category_id=#{@category.id}" do %>
          <button type="button" class="btn btn-success green">Create Category</button>
        <% end %>
      <% end %>
    </ul>
    <br/>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9965889724685947"
         data-ad-slot="6278336819"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <div class="form-content-container">
  
    <%= render 'groups/group_nav' %>


    <div class="<%= @category.master ? @category.ancestor_objects.first.name.downcase : @category.name.downcase %>-jumbotron">
      <div class="black-jumbotron">
        <div class="hierarchy-links">
            <%= link_to @group.school, group_path(@group) %> 
            <% @category.ancestor_objects.each do |ancestor| %>
              > <%= link_to ancestor.name , group_category_path(@group, ancestor, tab: params[:tab]) %> 
            <% end %>
        </div> 
        <h2 class="category-name">
          <%= @category.name %>
        </h2>     
        <% if logged_in? && current_user.group == @group %>
          <ul class="add-class-button">
            <% if current_user.classes.where(classable_type: 'Category', classable_id: @category).any? %>
              <%= link_to "Drop Class", my_classes_delete_path(classable_type: 'Category', classable_id: @category), method: 'delete', class: 'btn' %>
            <% else %>
              <%= link_to "Add Class", my_classes_path(classable_type: 'Category', classable_id: @category), method: 'post', class: 'btn' %>
            <% end %>            
          </ul>
        <% end %>

      <% @category.sub_categories.each_slice(3) do |three_categories| %>
        <ul class="sub-categories">
          <% three_categories.each do |category| %>
            <%= link_to category.name, group_category_path(@group, category, tab: params[:tab]) %>
          <% end %>
        </ul>
        
      <% end %>


      <div class="group-category-search">
        <%= form_tag group_search_group_category_path(@group,@category), method: :get do %>
          <div class="box">
            <div class="container-1">
              <span class="icon">
                <button type='submit' class='btn btn-success search-icon'>
                  <%= icon("fa fa-search") %>
                </button>
              </span>
              <%= text_field_tag :search_group_category, params[:search_group_category], placeholder: "Search #{@group.school} #{@category.name}..." %>    
            </div>
          </div>
        <% end %> 
      </div>
    </div>
  </div>





<%= render 'question_image_answer_navbuttons', path: group_category_path(@group, @category) %>

<%= render 'shared/questions_answers_images' %> 

  </div>


  <div class="right-content-container">
    <div class="leaderboard">
      <h2>Leaderboard</h2>
      <div class="sub-titles">
        <p class="school"><%= @group.school %></p>
        <p class="points">Points</p>
      </div>
      <% @users.each_with_index do |user, index| %>
        <div class="user">
          <p class="rank"><%= index + 1 %></p>
          <p class="username"><%= link_to upcase_first(user.username), user_path(user) %></p>
          <p class="points"><%= user.votes_count %></p>
        </div>
      <% end %>
    </div>
    <br/>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9965889724685947"
         data-ad-slot="6278336819"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

</div>


 