<div class="school-jumbotron">
    <div class="school-index-search">
      <%= form_tag group_search_school_index_path, method: :get do %>
        <div class="box">
          <div class="container-1">
            <%= text_field_tag :search_index_school, params[:search_index_school], placeholder: "Search school..." %>

            <%= text_field_tag :search_index_city, params[:search_index_city], placeholder: "Search city..." %>    

            <%= select_tag(:search_index_state, options_for_select(us_states), {include_blank: true, prompt: "State"}) %>
            <span class="icon">
              <button type='submit' class='btn btn-success search-icon'>
                <%= icon("fa fa-search") %>
              </button>
            </span>
          </div>
        </div>
      <% end %> 
    </div>
    <div class="school-create-container">
      <h4>Can't Find you school?</h4>
      <li class="custom-button"><%= link_to "Add school", new_group_path %></li>
    </div>
    

</div>




  <div class="">
    <% @schools.each do |state_schools| %>
      <% if state_schools.any? %>
        <div class="state-well">
          <h3><%= state_schools.first.state %></h3>
          <table class="school-table">      
            <% state_schools.each do |school| %>
              <tr data-link="<%= group_path(school) %>">
                <td><%= upcase_first(school.school) %></td>
                <td class="city"><%= upcase_first(school.city) %></td><td><%= school.users.size %></td>
              </tr>
            <% end %>
          </table>      
        </div>
      <% end %>
    <% end %>


  </div>









