
<div class="body-center">

  <div class="left-content-container">
    <p>Custom Categories
      <button type="button" class="custom-info" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Custom categories are categories created by members of school, always labeled (custom categories)">
        <i class="fa fa-question-circle"></i>
      </button>
    </p>

    <h4><%= @category.name %></h4>
    <ul class="gategory-links">
      <% @category.gategories.each do |gategory| %>
        <%= link_to upcase_first(gategory.name), group_gategory_path(@group, gategory) %>
      <% end %>      
      <br/>
      <% if logged_in? && member?(@group.id) %>
        <%= link_to new_group_gategory_path(@group) + "?category_id=#{@category.id}" do %>
          <button type="button" class="btn btn-success green">Create Category</button>
        <% end %>
      <% end %>
    </ul>
  </div>


<div class="form-content-container">

  <%= render 'groups/group_nav' %>

  <div class="<%= @category.master ? @category.ancestor_objects.first.name.downcase : @category.name.downcase %>-jumbotron">
    <div class="black-jumbotron">
      <div class="hierarchy-links">
          <%= link_to @group.school, group_path(@group) %> 
          <% @category.ancestor_objects.each do |ancestor| %>
            > <%= link_to ancestor.name , group_category_path(@group, ancestor, tab: params[:tab]) %> 
          <% end %>
      </div> 
      <h2 class="category-name">
        Search <%= @category.name %>
      </h2>     

      <div class="group-category-search">
        <%= form_tag group_search_group_category_path(@group, @category), method: :get do %>
          <div class="box">
            <div class="container-1">
              <span class="icon">
                <button type='submit' class='btn btn-success search-icon'>
                  <%= icon("fa fa-search") %>
                </button>
              </span>
              <%= text_field_tag :search_group_category, params[:search_group_category], placeholder: "Search #{@category.name}..." %>    
            </div>
          </div>
        <% end %> 
      </div>
    </div>
  </div>

    <%= render 'searches/search', path: group_search_group_category_path(@group, @category, search_group_category: params[:search_group_category]) %>

  </div>


  <div class="right-content-container">
  </div>

</div>

