<div class="body-center">

  <div class="left-content-container">
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9965889724685947"
         data-ad-slot="6278336819"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <div class="form-content-container">
    <div class="school-jumbotron">
      <div class="black-jumbotron">
        <div class="school-index-title">
          High Schools<br/>
          <h3>Find your school and join it!</h3>
        </div>    

        <div class="school-index-search">
          <%= form_tag group_search_school_index_path, method: :get do %>
            <div class="box">
              <div class="container-1">
                <span class="icon">
                  <button type='submit' class='btn btn-success search-icon'>
                    <%= icon("fa fa-search") %>
                  </button>
                </span>
                <%= text_field_tag :search_index_school, params[:search_index_school], placeholder: "Search school..." %>

                <%= text_field_tag :search_index_city, params[:search_index_city], placeholder: "Search city..." %>    

                <%= select_tag(:search_index_state, options_for_select(us_states), {include_blank: true, prompt: "State"}) %>
              </div>
            </div>
          <% end %> 
        </div>
        <div class="school-create-container">
          <h4>Can't Find you school?</h4>
          <li class="custom-button"><%= link_to "Add school", new_group_path %></li>
        </div>
      </div>
    </div>


    <% @results.each do |school| %>
        <div class="state-well">
          <div class="inline-state"><%= school.state %></div> (<%= upcase_first(school.city) %>)
            <div class="school-city-zone">
              <%= link_to group_path(school) do %>
                <%= upcase_first(school.school) %>
              <% end %>              
            </div>  

        </div>
    <% end %>
   <%= paginate @results %> 
  </div>


  <div class="right-content-container">
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9965889724685947"
         data-ad-slot="6278336819"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
