
<div class="body-center">

  <div class="left-content-container">
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9965889724685947"
         data-ad-slot="6278336819"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <div class="form-content-container">
  
  <div class="group-nav-container">
    <div class="group-name">
      <div class="school-name"><%= upcase_first(@group.school) %></div>
      <p><%= upcase_first(@group.city) %>, <%= @group.state %></p>
      <p>
        <%= @group.users.size %> 
        <i class="fa fa-users"></i>
      </p>

      <% if logged_in? %>
        <% if !current_user.group %>
          <%= link_to "Join", member_user_path(current_user.id, group_id: @group.id), method: 'post', class: 'btn btn-success join-green' %>
        <% elsif current_user.group == @group %>
          <%= link_to "Leave", member_user_path(current_user.id, group_id: nil), method: 'post', class: 'btn btn-danger' %>
        <% end %>
        <br/>
        <br/>
      <% end %>

      <div class="group-search">
        <%= form_tag search_group_path(@group), method: :get do %>
          <div class="box">
            <div class="container-1">
              <span class="icon">
                <button type='submit' class='btn btn-success search-icon'>
                  <%= icon("fa fa-search") %>
                </button>
              </span>
              <%= text_field_tag :search_group, params[:search_group], placeholder: "Search #{@group.school}..." %>    
            </div>
          </div>
        <% end %> 
      </div>

    </div>

    <ul class="group-category-nav">
      <%= link_to "English", group_category_path(@group, 35, tab: params[:tab]) %>
      <%= link_to "Math", group_category_path(@group, 1, tab: params[:tab]) %>
      <%= link_to "Science", group_category_path(@group, 9, tab: params[:tab]) %>
      <%= link_to "Social Studies", group_category_path(@group, 15, tab: params[:tab]) %>
      <%= link_to "Languages", group_category_path(@group, 21, tab: params[:tab]) %>
      <%= link_to "Health", group_category_path(@group, 41, tab: params[:tab]) %>
    </ul>   
 
  </div>


    <%= render 'groups/question_image_answer_navbuttons', path: group_path(@group) %>     
    <%= render 'shared/questions_answers_images' %>    

  </div>


  <div class="right-content-container">
    <div class="leaderboard">
      <h2>Leaderboard</h2>
      <div class="sub-titles">
        <p class="school"><%= @group.school %></p>
        <p class="points">Points</p>
      </div>
      <% @users.each_with_index do |user, index| %>
        <div class="user">
          <p class="rank"><%= index + 1 %></p>
          <p class="username"><%= link_to upcase_first(user.username), user_path(user) %></p>
          <p class="points"><%= user.votes_count %></p>
        </div>
      <% end %>
    </div>
    <br/>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9965889724685947"
         data-ad-slot="6278336819"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

</div>






