




<div class="body-center">

  <div class="form-content-container">




<div class="user-jumbotron">
  <h1>
    <%= @user.username %>
  </h1>

    <% if @user.group.nil? && logged_in? && creator?(@user.id) %>
          <%= link_to groups_path, class: "gategory_create_show join" do %>
            <button type="button" class="btn btn-success green">Join School</button>
          <% end %>
    <% elsif @user.group %>
      <%= link_to @user.group.school, group_path(@user.group), class: "user-school" %>
      <div class="rank">
        <span class="number"><%= @rank  %></span>
        <span class="sub">Rank</span>  
      </div>
      
    <% end %>

  <div class="shaded">

    <a href=""><%= @user.votes_count %></a>
    <%= link_to @user.questions.size, user_path(@user, tab: "Questions") %>
    <%= link_to @user.images.size, user_path(@user) %>
    <%= link_to @user.comments.size, user_path(@user, tab: "Answers") %>
  </div>
  <div class="link-titles">
    <h2>Points</h2>
    <h2>Questions</h2>
    <h2>Worksheets</h2>
    <h2>Answers</h2>
  </div>

</div>



  <nav class='form-nav'>
    <ul class="green-pills">
      <%= link_to "Worksheets", user_path(@user), class: ('active' if params[:tab].nil?) %>
      <%= link_to "Questions", user_path(@user, tab: 'Questions'), class: ('active' if params[:tab] == 'Questions' ) %>
      <%= link_to "Answers", user_path(@user, tab: "Answers"), class: ('active' if params[:tab] == 'Answers' ) %>
    </ul>
  </nav>

  <% if params[:tab] == nil %>
  <div class="image-boss">
    <div class="form-left-side">
      <% seperate_array_tri(0,@images).each do |image| %>
        <%= render 'images/image_index', image: image %>
      <% end %>
    </div>

    <div class="form-middle-side">
      <% seperate_array_tri(1,@images).each do |image| %>
        <%= render 'images/image_index', image: image %>
      <% end %>    
    </div>

    <div class="form-right-side">
      <% seperate_array_tri(2,@images).each do |image| %>
        <%= render 'images/image_index', image: image %>
      <% end %>
    </div>  
    <%= paginate @images %>
  </div>

  <% elsif params[:tab] == "Questions" %>
    <% @questions.each do |question| %>
        <%= render 'questions/question', question: question %>   
    <% end %>
    <%= paginate @questions %>

  <% elsif params[:tab] == "Answers" %>
    <% @answers.each do |answer| %>
      <div class="answers">
        <div class="answer-content user-show-comment">
            <p><%= answer.body %></p>
          <div  class='answer-info'>
            <small>
              <span>
                <%= answer.user.username %>
                <i class="fa fa-circle small"></i>
                <%= display_date(answer.created_at) %>
              </span>  
            </small>
          </div>
        </div>
      </div>  
    <% end %>
    <%= paginate @answers %>

  <% end %>

</div>


  <div class="right-content-container">

    <div class="category-board">
      <h2>Popular Categories</h2>
      <div class="sub-titles">
        <p class="school">Category</p>
        <p class="points">Posts</p>
      </div>
      <% Category.where(master: nil).each_with_index do |category, index| %>
        <div class="user">
          <p class="rank"><%= index + 1 %></p>
          <p class="username"><%= link_to upcase_first(category.name), category_path(category) %></p>
          <p class="points"><%= category.questions.size %></p>
        </div>
      <% end %>
      <div class="sub-titles">
        <p class="points"><%= link_to "See All", '#' %></p>
      </div>
    </div>
    <br/>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9965889724685947"
         data-ad-slot="6278336819"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>   
    <br>
  </div>

</div>



