<div class="descriptive-content-show">
    <span class="pull-badges-right">
      <%= render 'categories/category_badge', object: object, tab: nil %>
      <%= render 'gategories/gategory_badge', object: object, tab: nil %>        
    </span>  
    <p><%= object.title %></p>
 <span class="description"><p><%= object.description %></p></span>
  <div  class='object-info'>
    <%= render 'shared/post_info', object: object %>
 </div>
</div>