<% if params[:tab] == nil %>
  <% @questions.each do |question| %>
      <%= render 'questions/question', question: question %>   
  <% end %>
  <%= paginate @questions %>

 

<% elsif params[:tab] == "Worksheets" %>

  <div class="form-left-side">
    <% seperate_array_tri(0,@images).each do |image| %>
      <%= render 'images/image_index', image: image %>
    <% end %>
  </div>

  <div class="form-middle-side">
    <% seperate_array_tri(1,@images).each do |image| %>
      <%= render 'images/image_index', image: image %>
    <% end %>    
  </div>

  <div class="form-right-side">
    <% seperate_array_tri(2,@images).each do |image| %>
      <%= render 'images/image_index', image: image %>
    <% end %>
  </div>  



  <%= paginate @images %>

  
<% elsif params[:tab] == "Answers" %>
  <% @unanswered.each do |question| %>
        <%= render 'questions/question', question: question %>   
  <% end %>
  <%= paginate @unanswered %>
<% end %>