
<div class="small-wks-post">

  <div class="buttons">
      <%= render 'categories/category_badge', object: image, tab: nil  %>
      <%= render 'gategories/gategory_badge', object: image, tab: nil %>    
  </div>
   <%= render 'votes/votes', path: vote_image_path(image), object: image %>  
  <p><%= link_to image.title, image_path(image) %></p>
  <% unless image.pictures.empty? %>
      <div class="image-container">
        <%= link_to image_path(image) do %>
          <%= image_tag image.pictures.first.photo.url(:small), class: "image" %>
        <% end %>
      </div>
  <% end %>


    <div  class='image-info'>
      <%= render 'shared/post_info', object: image %> 
    </div>
</div>



