<!DOCTYPE html>
<html>
<head>
  <title>Hsbay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <%= render 'layouts/navbar' %>

  <div class="space"></div>
  
  <%= render 'layouts/messages' %>

  <div class="body-center">
    <%= yield %>
  </div>

</body>
</html>
